@import "https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap";

* {
  font-family: 'Fira Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  overflow-x: hidden;
}


#app {
  padding: 20px;
}

.draggable-active {
  position: absolute !important;
  z-index: 100;
  top: -300px;
  box-shadow: 0 3px 16px rgba(0, 102, 255, 0.7);
}
